<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <title>Liteyuki Stats</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>


<div class="info-box" id="hardware-info">
    <div class="pie-info" id="cpu-info">
        <div class="pie-chart" id="cpu-chart"></div>
    </div>
    <div class="pie-info" id="mem-info">
        <div class="pie-chart" id="mem-chart"></div>
    </div>
    <div class="pie-info" id="swap-info">
        <div class="pie-chart" id="swap-chart"></div>
    </div>
</div>

<div class="info-box" id="disks-info">
</div>

<div class="info-box" id="motto-info">
</div>

<!--储存数据div，不显示-->
<div id="data" style="display: none">{{ data | tojson }}</div>
<script src="js/bg.js"></script>
<script src="js/motto.js"></script>
<script src="js/style.js"></script>
</body>
</html>
