.venv/
.idea/
.cache/
node_modules/
data/
db/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
/plugins/
_config.yml
config.yml
config.example.yml
compile.bat
# vuepress
docs/.github

# nuitka
main.build/
main.exe
main.cmdY
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/