# python and toolchains
.mypy_cache/
__pycache__/
.pytest_cache/

# idea
.idea/
.vscode/
.venv/
venv/

# platform
# macOS
**/.DS_Store
# windows
Thumbs.db
# linux

# development
.env
.env.*
plugins/
data/
configs/
config.yaml
config-dev.yaml
config-prod.yaml