.venv/
.idea/
.cache/
node_modules/
data/
db/
/resources/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
/plugins/
_config.yml
config.yml
config.example.yml
compile.bat
liteyuki/resources/templates/latest-debug.html
# vuepress
.github
pyproject.toml

test.py
line_count.py

# nuitka
main.build/
main.dist/
main.exe
main.cmd
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
prompt.txt