<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Liteyuki Server | An awesome server welcome you!</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <!-- fonts style -->
    <link href="css/css.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet">
    <style>

        .fixed-top-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(162, 216, 244, 0.3);
            color: white;
            z-index: 100;
            padding: 5px 5px; /* 调整顶栏的上下内边距 */
            backdrop-filter: blur(10px); /* 设置高斯模糊效果，调整模糊程度 */
        }
        .fixed-top-bar {
            /* ... 其他样式 ... */
            display: flex;
            justify-content: space-between; /* 将左侧和右侧内容分别放置两端 */
            align-items: center;
        }

        .fixed-top-bar img {
            margin-right: 5px; /* 调整图标和文字之间的间距 */
        }

        .buttons {
            display: flex;
            gap: 10px; /* 按钮之间的间隔 */
        }

        .btn {
            padding: 5px 5px;
            color: #d0e9ff; /* 按钮的文字颜色 */
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            color: #a2d8f4;
        }




    </style>
</head>

<body>
<div class="fixed-top-bar">
    <!-- 固定顶栏内容 -->
    <a class="navbar-brand" href="#">
        <span><img src="https://ks.liteyuki.icu:809/static/img/liteyuki_icon.png" alt="liteyuki_icon" height="40"></span>
        <span>Liteyuki</span>
    </a>
    <div class="buttons">
        <a class="btn" href="https://qm.qq.com/q/PX6cjzXNCc">加入Q群</a>
        <a class="btn" href="https://lab.liteyuki.icu">轻雪社区</a>
    </div>
    <!-- 其他固定顶栏的内容 -->
</div>


<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
<!--                <a class="navbar-brand" href="#">-->
<!--                </a>-->
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="col-lg-10 col-md-11 mx-auto">
                        <div class="detail-box">
                            <div>

                                <h2>Liteyuki Server</h2>
                                <h3>轻雪公益插件服</h3>
                                <p>
                                    Liteyuki Server 轻雪服务器是由雪萤工坊旗下轻雪工作室团队运营的一个公益性质的服务器，
                                    我们致力于为玩家提供一个良好的游戏环境，让玩家能够在这里体验到最纯粹的游戏乐趣。服务器定期的活动，丰富的游戏玩法，以及良好的管理团队，都是我们的优势。
                                </p>
                                <div class="join-btn">
                                    <a href="https://qm.qq.com/q/PX6cjzXNCc">加入聊天社群</a>
                                </div>
                                <p id="now-online">当前状态: 获取中...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end slider section -->
</div>

<section class="trainer_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>管理团队</h2>
            <!-- 此处您也可以选择展示自己服务器的图片。用途全由您决定 -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <div class="name">
                        <h5>SnowyKami(SF_Kami)</h5>
                    </div>
                    <div class="img-box">
                        <img src="https://ks.liteyuki.icu:809/812/static/picture/t2.png" alt="">
                    </div>
                    <div class="social_box">
                        <a href="https://qm.qq.com/q/r6FqZZafmg">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/qq.png" alt="qq" height="20">
                        </a>
                        <a href="https://space.bilibili.com/233938750">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/bili.png" alt="bili" height="20">
                        </a>
                        <a href="https://snowykami.me">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/link.png" alt="link.png"
                                 height="22">
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <div class="name">
                        <h5>LuoChenXi(LuoChenXil_)</h5>
                    </div>
                    <div class="img-box">
                        <img src="https://ks.liteyuki.icu:809/812/static/picture/t1.png" alt="">
                    </div>
                    <div class="social_box">
                        <a href="">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/qq.png" alt="" height="20">
                        </a>
                        <a href="">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/bili.png" alt="" height="20">
                        </a>
                        <a href="">
                            <img src="https://ks.liteyuki.icu:809/812/static/picture/email.png" alt="" height="16">
                        </a>
                    </div>
                </div>
            </div>

            <!--          <div class="col-lg-4 col-md-6 mx-auto">-->
            <!--            <div class="box">-->
            <!--              <div class="name">-->
            <!--                <h5>Alex</h5>-->
            <!--              </div>-->
            <!--              <div class="img-box">-->
            <!--                <img src="static/picture/t3.png" alt="">-->
            <!--              </div>-->
            <!--              <div class="social_box">-->
            <!--                <a href="#">-->
            <!--                  <img src="static/picture/WeChat.png" alt="">-->
            <!--                </a>-->
            <!--                <a href="#">-->
            <!--                  <img src="static/picture/QQ.png" alt="">-->
            <!--                </a>-->
            <!--                <a href="#">-->
            <!--                  <img src="static/picture/email.png" alt="">-->
            <!--                </a>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
        </div>
    </div>
</section>

<section class="contact_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="https://ks.liteyuki.icu:809/812/static/picture/2023-08-31_02.16.03.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
                    <div class="heading_container">
                        <h2>关于服务器</h2>
                    </div>
                    <div class="contact_box">
                        <p>
                            服务器目前装载了粘液科技系列，tpa，领地，商店等基础功能插件。
                        </p>
                        <p>
                            服务器启用了正版验证和白名单，需要向管理员申请加入白名单，加入白名单后即可进入服务器游玩。<br><br>
                            暂时没有电脑？没关系，我们的服务器安装了Geyser，支持基岩版进入。
                        </p>
                        <p>
                            服务器目前处于测试阶段，欢迎大家加入我们的QQ群，一起来玩耍。
                        </p>
                        <!--                <p class="announce">-->
                        <!--                  <br>注意：本页所有文字、图片仅作演示，无实际意义，版权归原作者所有。<br>-->
                        <!--                  ATTENTION: All words and pictures on this page are only for-->
                        <!--                  demonstration.The copyright belongs to the original author.-->
                        <!--                </p>-->
                        <a href="https://qm.qq.com/q/PX6cjzXNCc" target="_blank">
                            <button>加入Q群</button>
                        </a>
                        <a href="https://lab.liteyuki.icu" target="_blank">
                            <button>加入社区</button>
                        </a>
                        <a href="https://afdian.net/a/snowykami" target="_blank">
                            <button>赞助我们</button>
                        </a>
                        <p id="tips">若QQ群链接无法打开，请在QQ内打开点击或手动输入群号：172811867</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info_section layout_padding2">
    <div class="container">
        <div class="info_items">
            <a href="#">
                <div class="item">
                    <div class="img-box box-1"></div>
                    <div class="detail-box">
                        <p>
                            <a class="info-btn" href="https://mcstatus.io/status/java/mc.liteyuki.icu" target="_blank">
                                地址：mc.liteyuki.icu</a>
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <div class="img-box box-3"></div>
                    <div class="detail-box">
                        <p><a class="info-btn" href="https://liteyuki.icu" target="_blank">轻雪官网：liteyuki.icu</a></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<footer class="container-fluid footer_section">
    <p>
        <a href="https://icp.gov.moe/?keyword=20240224" target="_blank">萌ICP备20240224号</a>
    </p>
    <p>
        &copy; 2020-2024 Liteyuki Studio All rights reserved.
    </p>
    <p></p>
</footer>
<!-- footer section -->
<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 引入 Bootstrap JavaScript 插件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/server_api.js"></script>


</body>
</html>
