<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Liteyuki Status</title>
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/status.css">
</head>
<body>

<div class="data-storage" id="data">{{ data | tojson }}</div>
<div class="info-box" id="system-info"></div>
<div class="info-box" id="disk-info"></div>
<div class="info-box" id="motto-info"></div>

<script src="./js/card.js"></script>
<script src="./js/status.js"></script>
</body>
</html>