<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Liteyuki Status</title>
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="css/weather_now.css">
    <link rel="stylesheet" href="css/extra_info.css">
</head>
<!-- qw_icon: https://a.hecdn.net/img/common/icon/202106d/%d.png-->

<body>
    <template id="hourly-item-template">
        <div class="hourly-item">
            <img class="hourly-icon icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            <div class="hourly-temperature">90°</div>
            <!--        <div class="hourly-windDir">None</div>-->
            <div class="hourly-time">02:00</div>
        </div>
    </template>

    <template id="daily-item-template">
        <div class="daily-item">
            <div class="daily-day">
                周八
            </div>
            <div class="daily-weather">
                小水
            </div>
            <img class="daily-icon icon-day icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            <img class="daily-icon icon-night icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            <div class="daily-temperature">
                12°~23°
            </div>
        </div>
    </template>

    <template id="sub-info-template">
        <div class="sub-info">
            <div>
                <img src="./img/svg/windDirect.svg" alt="SVG windDirect" width="60" height="60">
                <div id="now-windDirect">
                    西北风 315°
                </div>
            </div>
            <div><img src="./img/svg/windVelocity.svg" alt="SVG windVelocity" width="60" height="60">
                <div id="now-windVelocity">
                    风矢 2级 10km/h
                </div>
            </div>
            <div>
                <img src="./img/svg/humidity.svg" alt="SVG humidity" width="60" height="60">
                <div id="now-humidity">
                    湿度 45%
                </div>
            </div>
            <div>
                <img src="./img/svg/feelsLike.svg" alt="SVG feelsLike" width="60" height="60">
                <div id="now-feelsLike">
                    体感 32°C
                </div>
            </div>
            <div>
                <img src="./img/svg/precip.svg" alt="SVG precip" width="60" height="60">
                <div id="now-precip">
                    降水 0.0mm
                </div>
            </div>

            <div>
                <img src="./img/svg/pressure.svg" alt="SVG pressure" width="60" height="60">
                <div id="now-pressure">

                    气压 979hPa
                </div>
            </div>
            <div>
                <img src="./img/svg/vis.svg" alt="SVG sunset" width="60" height="60">
                <div id="vis">
                    能见 5km
                </div>
            </div>
            <div>
                <img src="./img/svg/cloud.svg" alt="SVG sunset" width="60" height="60">
                <div id="cloud">
                    云量 50%
                </div>
            </div>
            <div>
                <img src="./img/svg/sunrise.svg" alt="SVG sunrise" width="60" height="60">
                <div id="astronomy-sunrise">
                    日出 06:37
                </div>
            </div>
            <div>
                <img src="./img/svg/sunset.svg" alt="SVG sunset" width="60" height="60">
                <div id="astronomy-sunset">
                    日落 19:01
                </div>
            </div>
        </div>

    </template>

    <div class="data-storage" id="data">{{ data | tojson }}</div>
    <div class="info-box" id="weather-info">
        <div id="detail-info">
            <div id="time">2045-01-12 22:22:22</div>
            <div id="adm">枫丹 白露 白露区</div>
            <div id="city">白露区</div>
        </div>
        <div id="main-info">
            <div id="main-left">
                <img class="main-icon icon" src="./img/qw_icon/101.png" alt="WeatherIcon">
            </div>
            <div id="main-right">
                <div id="temperature">
                    <div id="temperature-now">
                        90°
                    </div>
                    <div id="temperature-range">
                        10°~90°
                    </div>
                </div>
                <div id="description">
                    示例天气
                </div>
            </div>
        </div>
        <div id="aqi">
            <div id="aqi-dot"></div>
            <div id="aqi-data"> AQI 114 优</div>
        </div>
    </div>
    <div class="info-box" id="sub-info"></div>
    <div class="info-box" id="hours-info"></div>
    <div class="info-box" id="days-info"></div>

    <div class="ad-box" hidden><img id="ad" src=""></div>

    <script src="./js/card.js"></script>

    <div class="attribution-box">
        <div id="attribution-info"></div>
    </div>

    <script src="./js/weather_now.js"></script>

</body>