// place your custom styles here

:root {
  --code-window-border-radius: 10px;
  --button-distance: 8px;
}

#main-title {
  font-family: ColorTube, "Fira Code", serif;
  color: #ff0000 !important; /* 你想要的颜色 */
  line-height: 2;
}

@font-face {
  font-family: ColorTube;
  src: url("/assets/fonts/ColorTube.woff") format("woff")
}

code {
  font-family: "Fira Code", monospace !important;
}

.vp-hero-image {
  overflow: hidden;
  padding: -50px;
}

#main-title {
  display: none;
}

.theme-hope-content pre {
  overflow: auto;
  margin: 0 0;
  padding: 1rem;
  border-radius: 6px;
  line-height: 1.375;
}

// 移除该before
.theme-hope-content pre::before {
  content: none;
}

.theme-hope-content > div[class*=language-] {
  margin: 0 0 0 0;
  //  仅下半部分有圆弧
  border-radius: 0 0 var(--code-window-border-radius) var(--code-window-border-radius);
}

.tab {
  display: flex;
  height: 25px;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--code-window-border-radius);
  border-top-right-radius: var(--code-window-border-radius);
}

.tab-buttons {
  padding: 7px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  height: 60%;
  align-items: center;
}

.tab-button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: var(--button-distance);
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
}

.tab-title {
  text-align: center;
  justify-content: center;
  flex: 1;
}

.item-search-box {
  border-radius: 100px;
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.search-box-div {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.item-search-box {
  width: 80%;
}