// place your custom styles here

#main-title {
  font-family: "ColorTube", serif;
  color: #ff0000 !important; /* 你想要的颜色 */
  line-height: 2;
}

code {
  font-family: "Fira Code", monospace !important;
}