// place your custom styles here

#main-title {
  font-family: ColorTube, "Fira Code", serif;
  color: #ff0000 !important; /* 你想要的颜色 */
  line-height: 2;
}

@font-face {
  font-family: ColorTube;
  src: url("/assets/fonts/ColorTube.woff") format("woff")
}

code {
  font-family: "Fira Code", monospace !important;
}

.vp-hero-image{
  overflow: hidden;
  padding: -50px;
}

#main-title{
  display: none;
}