@font-face {
    font-family: 'MiSans';
    src: url('../../fonts/normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiSans';
    src: url('../../fonts/bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
