/*MiSans*/

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans/MiSans-Light.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans/MiSans-Normal.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans/MiSans-Semibold.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans/MiSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans/MiSans-Heavy.woff2') format('woff2');
    font-weight: 900;
}

/*MapleMono*/
@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-Light.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-LightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'MapleMono';
    src: url('../fonts/MapleMono/MapleMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: 'MapleMono', 'MiSans', sans-serif;
}