:root {
    --main-text-color: #fff;
    --sub-text-color: #ccc;
    --tip-text-color: #999;
    --device-info-width: 240px;
}

.bot-info {
    display: flex;
}

.bot-icon {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.bot-icon-img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.bot-name {
    color: var(--main-text-color);
    display: flex;
    font-size: 45px;
    flex-direction: column;
    justify-content: center;
}

.bot-tag {
    white-space: break-spaces;
    color: var(--sub-text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
}

.bot-tag[suffix="1"]::after {
    content: "|";
    display: inline-block;
    margin: 0 5px;
    height: 30%;
    line-height: 50%;
    color: var(--tip-text-color);
}

/*修改bot-info 下hr样式*/
.bot-info hr {
    border: 0;
    height: 4px;
    background: var(--tip-text-color);
    margin: 10px 0;
    width: 100%;
}

#hardware-info {
    display: flex;
    justify-content: space-evenly;
}

.device-info {
    max-width: 30%;
}

.device-chart {
    display: flex;
    height: var(--device-info-width);
    width: var(--device-info-width);
    margin-bottom: 20px;
    justify-content: center;
}

.device-tags {
    text-align: center;
    color: var(--sub-text-color);
    font-size: 24px;
    max-width: var(--device-info-width);
    word-wrap: break-word;
}

.disk-info {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff44;
    border-radius: 30px;
    align-items: center;
}

.disk-usage {
    background-color: #a2d8f4;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
}

/*
.disk-title {
    position: absolute;
    color: var(--main-text-color);
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
    z-index: 2;
}
*/
.disk-name {
    position: absolute;
    color: var(--main-text-color);
    font-size: 24px;
    margin-left: 20px;
    text-align: left;
    white-space: normal; /* 允许换行 */
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; /* 允许在单词内换行 */
    z-index: 2;
}

.disk-details {
    position: absolute;
    right: 20px;
    /* 调整位置以确保有足够的空间显示 */
    color: var(--main-text-color);
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    z-index: 2;
}

#motto-text {
    font-size: 36px;
    word-wrap: break-word;
    color: var(--main-text-color);
    text-align: center;
    margin: 30px 0 10px 0;
}

#motto-from {
    font-size: 30px;
    font-style: italic;
    color: var(--sub-text-color);
    text-align: right;
}