:root {
    --main-text-color: #fff;
    --sub-text-color: #ccc;
    --tip-text-color: #999;
    --device-info-width: 240px;
    --sub-border-radius: 60px;
}

#weather-info {
    color: white;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
}

.icon {
    /*    icon 类img阴影*/
    filter: drop-shadow(1px 1px 10px #00000044);
}

#main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-left {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

#main-right {
    width: 50%;
}

#time {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: var(--sub-text-color);

}

#adm {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--sub-text-color);
}

#city {
    margin-top: 20px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#temperature {
    display: flex;
    align-items: baseline;

}

#temperature-now {
    font-size: 70px;
    font-weight: bold;
}

#temperature-range {
    font-size: 40px;
    font-weight: bold;
    color: var(--sub-text-color);
}

#description {
    font-size: 50px;
    font-weight: bold;
}


#aqi {
    height: 50px;
    display: flex;
    border-radius: 60px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#aqi-dot {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--sub-text-color);
    margin-right: 20px;
}

.main-icon {
    width: 240px;
    height: 240px;
}

#hours-info {
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    text-align: center;
    background-color: #ffffff44;
    border-radius: var(--sub-border-radius);
    align-items: center;
    padding: 20px 10px;
}

.hourly-icon {
    width: 80%;
    margin-bottom: 20px;
}

.hourly-temperature {
    text-align: center;
    color: var(--main-text-color);
    font-size: 30px;
    margin-bottom: 20px;
}

.hourly-time {
    text-align: center;
    color: var(--main-text-color);
    font-size: 25px;
    margin-bottom: 10px;
}

/**/
.daily-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff44;
    height: 90px;
    border-radius: var(--sub-border-radius);
    margin-bottom: 20px;
    padding: 0 30px;
}

/*最后一个没有margin_button*/
.daily-item:last-child {
    margin-bottom: 0;
}

.icon-day {
    position: absolute;
    left: 60%;
    height: 80px;
}

.icon-night {
    position: absolute;
    left: 70%;
    height: 80px;
}

.daily-weather {
    position: absolute;
    left: 30%;
}

.daily-temperature {
    position: absolute;
    left: 83%;
}

.daily-day,
.daily-weather,
.daily-temperature {
    text-align: center;
    color: var(--main-text-color);
    font-size: 30px;
}

.ad-box {
    margin-bottom: 20px;
}

#ad {
    border-radius: 60px;
}

#sub-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    color: var(--main-text-color);
    font-size: 36px;
    align-items: center;
}

.sub-item {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding-left: 20px;
}

/*要问就问为什么html调svg那么不友好*/
.sub-svg {
    transform: translateY(-80px);
    /*此处用作自定义颜色*/
    filter: drop-shadow(var(--main-text-color) 0 80px);
    /*此处用作自定义透明度*/
    opacity: 1;
    padding-right: 10px;
}

.attribution-box {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

#attribution-info {
    backdrop-filter: blur(10px);
    padding: 0 5px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    justify-content: space-between;
    display: inline-flex;
    word-wrap: break-word;
    color: var(--sub-text-color);
    text-align: center;
}