
name: Docker Image Build

on:
  push:
    branches: [main]

  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Harbor
      uses: docker/login-action@v2
      with:
        registry: git.liteyuki.icu
        username: ${{ secrets.GITEA_USERNAME }}
        password: ${{ secrets.GITEA_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: git.liteyuki.icu/bot/app:latest

    - name: Log out from Gitea
      run: docker logout git.liteyuki.icu
